.App {
  text-align: center;
  display:  flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image:  linear-gradient(79deg, #7439db,#C66FBC 48%,#F7944D)

}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container{
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
}

label {
  text-align: left;
  padding: 0.25rem 0;

}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db
}

.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

form label {
  margin-bottom: 10px;
}

form input, form select, form button {
  padding: 8px;
  margin-top: 5px;
}

form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

.book-tile {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  text-decoration: none;
}

.book-tile img {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin-right: 10px;
}

.book-details {
  flex: 1;
}

.book-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.book-details p {
  margin: 0;
}

.book-detail-tile {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the book details horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for a tile-like appearance */
  text-align: center; /* Center align text */
}

.book-detail-tile h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.book-detail-tile img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book-detail-tile p {
  margin-bottom: 10px;
}

.book-detail-tile ul {
  list-style: none;
  padding: 0;
}

.book-detail-tile li {
  margin-bottom: 10px;
}

.book-detail-tile button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-detail-tile button:hover {
  background-color: #0056b3;
}
