.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .title {
    margin: 0;
  }
  
  .user-profile {
    position: relative;
  }
  
  .user-profile .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .user-profile .dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .user-profile:hover .dropdown-content {
    display: block;
  }
  
  .search-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }

  .book-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 5px;
  }
  
  .book-details {
    margin-top: 15px;
    text-align: left;
  }
  
  .book-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .book-author,
  .book-year-published,
  .book-genre,
  .book-description {
    font-size: 14px;
    margin: 5px 0;
  }
  
  